@font-face {
  font-family: "Outfit Light";
  src: url(../assets/fonts/Outfit-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url(../assets/fonts/Outfit-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Outfit Bold";
  src: url(../assets/fonts/Outfit-SemiBold.ttf);
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  font-size: 62.25%;
}

body {
  font-size: 1.8rem;
  font-family: "Outfit", "Arial", sans-serif;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 54%, 11%);
}

.card {
  max-width: 350px;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 50%, 16%);
  text-decoration: none;
  padding: 20px;
}

.image {
  margin-bottom: 20px;
  line-height: 0;
  position: relative;
}

.image img {
  width: 100%;
  border-radius: 15px;
}

.title {
  font-size: 2rem;
  font-family: "Outfit Bold", sans-serif;
  margin: 0 0 20px;
  transition: color .2s;
}

.text {
  line-height: 1.5;
  font-family: "Outfit Light", sans-serif;
  color: hsl(215, 51%, 70%);
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.amount {
  color: hsl(178, 100%, 50%);
  font-family: "Outfit Bold", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.date {
  color: hsl(215, 51%, 70%);
  font-family: "Outfit Light", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

hr {
  border: 1px solid hsla(215, 51%, 70%, .5);
  border-radius: 15px;
  margin-bottom: 20px;
}

.author {
  color: hsl(215, 51%, 70%);
  font-family: "Outfit Light", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: 1.6rem;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.author span {
  color: hsl(0, 0%, 100%);
  transition: color .2s;
}

.image::before {
  content: "";
  width: 100%;
  height: 100%;
  background: hsla(178, 100%, 50%, .5) url(../assets/images/icon-view.svg) no-repeat center;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform .2s;
}

.card:hover .image::before,
.card:focus .image::before {
  transform: scaleY(1);
}

.card:hover .title,
.card:focus .title,
.card:hover .author span,
.card:focus .author span {
  color: hsl(178, 100%, 50%);
}

@media screen and (min-width: 400px) {
  body {
    height: 100%;
  }
}